<div id="homepage">
  <div class="container">
    <div class="d-flex justify-content-center h-100">
      <h1 id="globetrottr">globe trottr</h1>
    </div>

    <div class="d-flex justify-content-center h-100">
        globe trottr is a travel planning app that lets you
    </div>
    <div class="d-flex justify-content-center h-100">
        find the best activities to do on your trip
    </div>

    <div class="d-flex justify-content-center h-100 smpad">
      <%= button_to "Login", login_path, method: "get", class: "btn btn-home btn-sm smpad", id: "btnpad-sm" %>
      <%= button_to "Explore", destinations_path, method: "get", class: "btn btn-home btn-sm smpad", id: "btnpad-sm" %>
    </div>
  </div>

</div>
