<div id="homepage">
  <div class="container">
    <div class="d-flex justify-content-center h-100">
      <h2 class="headpad">edit profile</h2>
    </div>

    <%= render "form", patch: edit_user_path %>

  </div>
</div>
