<div id="homepage">

<div class="container">
  <div class="d-flex justify-content-center h-100 ">
    <h3 class="headpad">sign up for globe trottr</h3>
  </div>

  <!-- so this page will be for if you are signing up -->
    <%= render "form", post: @user %>


</div>

</div>
