// Place all the styles related to the Destinations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.lgpad {
  margin: 100px;
}

.medpad {
  margin: 80px;
}
.smpad {
  margin: 20px;
}

.headpad {
  margin-top: 100px;
  margin-bottom: 50px;
}

.subpad {
  margin-bottom: 50px;
}

#login {
  width: 400px;
}

#btnpad-sm {
  width: 120px;
}

#btnpad {
  width: 200px;
}
